<%= render "shared/header" %>
<div class="main">
  <div class="header__background">
  <div>ここにイメージを5枚ぐらいスライドで表示できるようにするもしくは、映像を入れる</div>
  </div>
  <div class="index__contents">
   <ul class="images">
   
  <% @posts.each do |post|%>
  <li class="image">
   <%= link_to post_path(post.id)  do %>
  <%= post.title %><br>
  <%= image_tag post.image , class:"item-img" %><br>  
  <%= post.content %><br>
  <% end %>
  <%= post.created_at %><br>
  <%= post.province.name%><br>
  <%#投稿ユーザーのマイページへ遷移できるようにurlを設置する%>
  <span>Photo By</span><%= post.user.nickname%><br>
  
  </li>
  <% end %>
</ul>
  <% if user_signed_in? %>
  <%= link_to new_post_path do %>
  <div class="post__image">投稿する</div>
  <% end %>
  <% else %>
  <%= link_to new_user_session_path do %>
  <div class="post__image">投稿する</div>
  <% end %>
  <% end %>


  </div>
  <div class="index__under">
  </div>
</div>
<%= render "shared/footer" %>